{% extends "main_page/wrapper.html" %}

{%block content%}
<h2>Введите свою группу</h2>

<script>
    function f1(link)
    {
        var f = document.getElementById('qwe');
        f.action += link;
    }    
</script>

<form class="form-inline mt-2 mt-md-0" id = "qwe">
    <input class = "form-control mr-sm-2" type = "text" placeholder = "Например: 02241" aria-label = "Search" id = "group">
    <button class = "btn btn-outline-success my-2 my-sm-0" onclick = "f1(group.value)">Искать</button>
</form>

{%endblock%} 



