{% extends "main_page/wrapper.html" %}

{%block content%}
    <h1>Today's shedule</h1>
    <table>
    {%for post in object_list%}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{post.Subject}}</h3>
            <div class="mb-1 text-muted">{{post.day_of_week}}</div>
            <p class="card-text mb-auto">{{post.Teacher}}</p>
            <a class="stretched-link">Аудитория: {{post.Classes}}</a>
          </div>
        </div>
      </div>
    {%endfor%}
    </table>



{%endblock%} 



