{% extends "main_page/wrapper.html" %}

{%block content%}
    <h1>Today's shedule</h1>
    <div>
      <h3>Понедельник</h3>
      {%for post in object_list%}
          {%if post.day_of_week == '1Понедельник'%}
            {%include "main_page/includes/include_schedule.html"%}
          {%endif%}
      {%endfor%}
    </div>
    <div>
        <h3>Вторник</h3>
        {%for post in object_list%}
            {%if post.day_of_week == '2Вторник'%}
              {%include "main_page/includes/include_schedule.html"%}
            {%endif%}
        {%endfor%}
    </div>
    <div>
        <h3>Среда</h3>
        {%for post in object_list%}
            {%if post.day_of_week == '3Среда'%}
              {%include "main_page/includes/include_schedule.html"%}
            {%endif%}
        {%endfor%}
    </div>
    <div>
        <h3>Четверг</h3>
        {%for post in object_list%}
            {%if post.day_of_week == '4Четверг'%}
              {%include "main_page/includes/include_schedule.html"%}
            {%endif%}
        {%endfor%}
    </div>
    <div>
        <h3>Пятница</h3>
        {%for post in object_list%}
            {%if post.day_of_week == '5Пятница'%}
              {%include "main_page/includes/include_schedule.html"%}
            {%endif%}
        {%endfor%}
    </div>
    <div>
        <h3>Суббота</h3>
        {%for post in object_list%}
            {%if post.day_of_week == '6Суббота'%}
              {%include "main_page/includes/include_schedule.html"%}
            {%endif%}
        {%endfor%}
    </div>
    
    
{%endblock%} 



